/* shared styles */
.font-color{
  color: #0e0e0eab;
}
.section-title{
  margin: 100px 160px 24px 160px;
  width: 1280px;
  height: 48px;
  font-weight: bold;
  font-size: 40px;
}
/* banner styles start */
.banner{
  display: flex;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin: 120px 119px 0px 119px;
  height: 560px;
  width: 1360px;
}
.banner-content{
  margin: 70px 30px 70px 60px;
  height: 326px;
  width: 622px;
}
.banner-img{
  margin: 80px 100px 80px;
  height: 400px;
  width: 475px;
}
.banner-title{
  height: 29px; ;
  width: 622px;
  font-weight: 500;
  font-size: 24px;
  color: #EEAADD;
}
.banner-description{
  width: 622px;
  height: 201px;
  font-weight: bold;
  font-size: 56px;
}
.banner-btn{
  width: 270px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: #006A50;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
/* banner styles end */
/* vision styles start */

.section-description{
  margin: 0px 160px 32px 160px;
  font-size: 16px;
  width: 1280px;
  height: 48px;
}
.vision-container{
  margin: 0px 160px 100px 160px;
  display: flex;
  height: 325px ;
  width: 1280px;
  column-gap: 24px;
}
.vision1, .vision2, .vision3{
  width: 410px;
  height: 325px;
  border: none;
  border-radius: 16px;
  padding: 32px 32px 32px 32px;
}
.vision1{
  background-color: #548ff534;
  
}
.vision2{
  background-color: #C6E4D6;
}
.vision3{
  background-color: #F7EBCF;
}
.vision-logo{
  width: 64px;
  height: 64px;
}
.vision-title{
  width: 346px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
}
.vision-description{
  font-weight: 16px;
}
.vision-btn{
  width: 122px;
  height: 41px;
  margin-top: 45px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}
.vision-btn1{
  background-color: #5490F5;
}
.vision-btn2{
  background-color: #09A15C;
}
.vision-btn3{
  background-color: #FFC239;
}
/* vision styles end */
/* news styles start */
.news-container{
  display: flex;
  width: 1280px;
  height: 402px;
  margin: 0px 160px 24px 160px;
  background-color: #e0d7d750;
  border-radius: 24px;
}
.news-img{
  width: 408px;
  height: 306px;
  margin:48px 0px 48px 48px;
  border-radius: 24px;
}
.news{
  width: 744px;
  height: 290px;
  margin-top: 20px;
  margin-left: 35px;
}
.news-title{
  height: 25px;
  font-size: 32px;
  font-weight: bold;
}
.channel-logo{
  width: 134px;
  height: 40px;
}
.d-t{
 display: flex;
 gap: 12px;
}
.new-btn{
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #006A50; 
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}
/* news styles end */
/* donate styles start */
.donate{
  margin: 80px 160px 60px 160px;
  width: 1280px;
  height: 464px;
  text-align: center;
  background-color: #ccb4e467;
}
.d-title{
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}
.d-subtitle{
  padding-left: 88px;
  padding-right: 88px;
}
.d-btn{
  padding-left: 104px;
  padding-right: 104px;
}
.amount-btn{
  width: 240px;
  height: 80px;
  border-radius: 16px;
  border: none;
  font-size: 40px;
  font-weight: bold;
}
.btn-200{
  background-color: #C6E4D6;
}
#other-amount{
  width: 600px;
  height: 64px;
  margin-top: 25px;
  text-align: center;
  border: none;
  background-color: #f7ebcf93;
  font-size: 20px;
}
.dn-btn{
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 140px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  color: #FFFFFF;
}
/* donate style end */
/* newsletter styles start */
.newsletter{
  margin: 0px 160px 100px 160px;
  text-align: center;
  background-color: #C6E4D6;
  width: 1280px;
  height: 395px;
  border-radius: 24px;
}
.nl-title{
  padding: 80px 329px 0px 329px;
  width: 622px;
  height: 48px;
  font-weight: bold;
  font-size: 40px;
}
.nl-subtitle{
  padding-right: 329px;
  padding-left: 329px;
  width: 622px;
  height: 48px;
}

#news-email{
  border: none;
  height: 56px;
  width: 660px;
  padding-left: 40px;
  color: #0e0e0e48;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.n-subscribe{
  border: none;
  background-color: #006A50;
  width: 150px;
  height: 56px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* newsletter styles end */
/* Quote styles start */
.Quote{
  margin: 0px 160px 0px 160px;
  width: 1280px;
  height: 256px;
  background-color: #09a15d18;
  background-image: url(../images/quote-bg.png);
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 25px;
  
}
.q-description{
  color: #0e0e0ecb;
  padding: 48px 24px 0px 24px;
}
.q-title{
  color: #0e0e0ecb;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px 0px 24px;
}
.q-subtitle{
  padding: 0px 24px 48px 24px;
}