/* shared styles */
.font-color{
  color: #0E0E0E;
}
/* banner styles start */
.banner{
  display: flex;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin: 120px 119px 0px 119px;
  height: 560px;
  width: 1360px;
}
.banner-content{
  margin: 70px 30px 70px 60px;
  height: 326px;
  width: 622px;
}
.banner-img{
  margin: 80px 100px 80px;
  height: 400px;
  width: 475px;
}
.banner-title{
  height: 29px; ;
  width: 622px;
  font-weight: 500;
  font-size: 24px;
  color: #EEAADD;
}
.banner-description{
  width: 622px;
  height: 201px;
  font-weight: bold;
  font-size: 56px;
}
.banner-btn{
  width: 270px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: #006A50;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
/* banner styles end */
/* vision styles start */
.section-title{
  margin: 100px 160px 24px 160px;
  width: 1280px;
  height: 48px;
  font-weight: bold;
  font-size: 40px;
}
.section-description{
  margin: 0px 160px 32px 160px;
  font-size: 16px;
  width: 1280px;
  height: 48px;
}
.vision-container{
  margin: 0px 160px 100px 160px;
  display: flex;
  height: 325px ;
  width: 1280px;
  column-gap: 24px;
}
.vision1, .vision2, .vision3{
  width: 410px;
  height: 325px;
  border: none;
  border-radius: 16px;
  padding: 32px 32px 32px 32px;
}
.vision1{
  background-color: #548ff534;
  
}
.vision2{
  background-color: #C6E4D6;
}
.vision3{
  background-color: #F7EBCF;
}
.vision-logo{
  width: 64px;
  height: 64px;
}
.vision-title{
  width: 346px;
  height: 24px;
  font-size: 24px;
  font-weight: bold;
}
.vision-description{
  font-weight: 16px;
}
.vision-btn{
  width: 122px;
  height: 41px;
  margin-top: 45px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}
.vision-btn1{
  background-color: #5490F5;
}
.vision-btn2{
  background-color: #09A15C;
}
.vision-btn3{
  background-color: #FFC239;
}
/* vision styles end */